		<!-- end details background -->
	<section class="section details">
		<!-- details background -->
		<div class="details__bg" data-bg="img/home/11.png"></div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">
					<h1 class="details__title">DESIGN MONEY LUCKY<h1>
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-12 col-xl-6">
					<div class="card card--details">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
								<div class="card__cover">
									<img style="width:1600px;"src="../img/home/1.png"  alt="">
								</div>
							</div>
                                                        <!-- end card cover -->
                            <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                                                            <div class="card__content">
                                                                 <a style="color: white; margin-bottom:12px;" href="/sendLixi" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i> Continues</a>
                                                                <a style="color: white; margin-bottom:12px;" href="#" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i> Stickers</a>
                                      <a style="color: white;margin-bottom:12px;"href="#" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i> Emotions</a>
                                      <a style="color: white;margin-bottom:12px;" href="#" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i> Họa tiết</a>
                                      <a style="color: white;margin-bottom:12px;" href="#" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i> Insert Picture</a>
                                     <a style="color: white;margin-bottom:12px;" href="#" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i> Other red envelop</a>
                                    </div>
                                    </div>
							<!-- card content -->
									<!-- end card content -->
									
						</div>
					</div>
				</div>
				<!-- end content -->
				<!-- player -->
				<div class="col-12 col-xl-6">
					<iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/4v-1NwVaH_8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<!-- end player -->
			</div>
				<div class="col-12">
					<div class="details__wrap">
						<!-- availables -->
						<div class="details__devices">
							<span class="details__devices-title">Available on devices:</span>
							<ul class="details__devices-list">
								<li><i class="icon ion-logo-apple"></i><span>IOS</span></li>
								<li><i class="icon ion-logo-android"></i><span>Android</span></li>
								<li><i class="icon ion-logo-windows"></i><span>Windows</span></li>
								<li><i class="icon ion-md-tv"></i><span>Smart TV</span></li>
							</ul>
						</div>
						<!-- end availables -->

						<!-- share -->
						<div class="details__share">
							<span class="details__share-title">Share with friends:</span>

							<ul class="details__share-list">
								<li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
								<li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
								<li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
								<li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
							</ul>
						</div>
						<!-- end share -->
					</div>
				</div>
			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

	<!-- content -->

	<!-- end content -->